body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.bg-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: mediumpurple;
}

.main-container{
  width: 100%;
  max-width: 100%;
  background-color: aliceblue;
  padding: 29px;
  border-radius: 16px;
  box-sizing: border-box;
  min-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main-container::-webkit-scrollbar{
  display: none;
}

